<div class="form-login">

    <form class="form-create" *ngIf="loginForm" [formGroup]="loginForm">
        <label class="flex" for="name">
            Name:
            <input type="text" formControlName="usernameControl"  maxlength="20" />
    
        </label>

        <label class="flex" for="name">
            Password:
            <input type="password" formControlName="passwordControl"  maxlength="50" />

        </label>
        <div class="flex">
            <button (click)="submit(user)" [disabled]="!loginForm.valid">Login</button>
            <div *ngIf="errorMessage" class="login-error">
                {{ errorMessage }}
            </div>
        </div>
    </form>
</div>